@import 'vars';

input,
textarea,
select {
  color: $font-colour;
  background-color: $grey-1;
  border: 1px solid $grey-2;
  font-size: 1em;
  font-family: $body-font;
  padding: 10px;
  width: 100%;
}
textarea {
  max-width: 100%;
  resize: vertical;
}

select {
  -webkit-appearance: none;
  background: url('images/select-arrow.svg') center right 12px/12px no-repeat;
}

.wpcf7 {
  width: 100%;
  div {
    float: left;
    width: 100%;
    p {
      padding-top: 10px;
      padding-left: 10px;
    }
  }
}

.wpcf7-response-output {
  margin: 0!important;
}

.wpcf7-not-valid-tip {
  position: relative;
  display: inline-block!important;
  margin-bottom: 20px;
  z-index: 2;
  background: #f85b50;
  color: #fff!important;
  padding: 8px 12px;
  border-radius: 10px;
  font-size: .8em!important;
  &::after {
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    background: #f85b50;
    position: absolute;
    top: -5px;
    left: calc(50% - 6px);
    transform: rotate(45deg);
  }
}

.wpcf7-recaptcha {
  margin-bottom: 20px;
}
