footer {
  padding-top: 50px;
  padding-bottom: 50px;
  color: $grey-3;
  background: $grey-6;
  a {
    color: $grey-2;
    &:hover {
      color: #fff;
    }
  }
  .title {
    margin-bottom: 20px;
  }
  .row {
    @include flex-grid(4, 40px);
  }
  .formation-badge {
    margin-top: 40px;
  }
}
