@import 'vars';

header#site-header {
  background: $header-background;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid $grey-100;
  .container {
    height: $header-height;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }
  ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
  }
  li {
    list-style: none;
    a {
      padding: 10px 15px;
      display: block;
    }
  }
  .logo {
    width: 75px;
  }
  .open-menu-btn {
    display: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: url('images/menu-button.svg') center/contain no-repeat;
  }
  @media screen and (max-width: $nav-breakpoint) {
    padding-left: 0;
    padding-right: 0;
    .container {
      height: $header-mobile-height;
      flex-direction: row-reverse;
      padding-left: $section-padding;
      padding-right: $section-padding;
      > *:not(nav) {
        position: relative;
        z-index: 2;
      }
    }
    nav {
      background: $grey-200;
      position: fixed;
      top: 0;
      left: 0;
      padding-top: $header-mobile-height;
      height: 100vh;
      width: 100vw;
      overflow: auto;
      transform: translate3d(0, -100vh, 0);
      transition: all .4s $ease;
      z-index: 1;
      &.open {
        transform: translate3d(0, 0, 0);
      }
    }
    ul {
      flex-direction: column;
      align-items: center;
    }
    li {
      text-align: center;
    }
    a {
      padding: 15px;
    }
    .open-menu-btn {
      display: block;
    }
  }
}
