@function min-padding-point($min, $max) {
  @return ($min/($max/1920));
}

@mixin variable-padding($min, $max) {
  padding-top: ($max/1920px * 100%);
  padding-bottom: ($max/1920px * 100%);
  @media screen and (min-width: 1920px) {
    padding-top: $max;
    padding-bottom: $max;
  }
  @media screen and (max-width: #{min-padding-point($min, $max)}px) {
    padding-top: $min;
    padding-bottom: $min;
  }
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin ratio($width, $height) {
  &::before {
    content: '';
    display: block;
    padding-top: calc((#{$height} / #{$width}) * 100%);
  }
}

@mixin flex-grid($columns, $gutter) {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-left: -($gutter / 2);
  margin-right: -($gutter / 2);
  width: calc(100% + #{$gutter});
  margin-bottom: -$gutter;
  > * {
    width: calc(100% / #{$columns} - #{$gutter});
    margin-left: ($gutter / 2);
    margin-right: ($gutter / 2);
    margin-bottom: $gutter;
  }
}
