#posts-archive {
  .image {
    display: block;
    margin-bottom: 10px;
    transition: opacity .3s $ease;
    img {
      @extend .img-responsive;
    }
    &:hover {
      opacity: .8;
    }
  }
  .posted-on {
    font-size: .8em;
    color: $grey-500;
  }
  .title {
    display: block;
  }
  .date {
    margin-bottom: 10px;
  }
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
  background: $grey-100;
}
