@import 'vars';

.search-results {
  .search-result {
    border: 1px solid $grey-200;
    padding: 30px;
    &:not(:last-child) {
      margin-bottom: $paragraph-margin-bottom;
    }
    .search-result-link {
      display: block;
      margin-top: 20px;
    }
  }
}
