@import 'variables';
@import 'bootstrap';
.card{
	border-radius:$radius;
	margin:0 0 $spacer;
	max-width:none;
	min-width:none;
	padding:$spacer;
	width:100%;
}
.hidden{
	display:none !important;
}
.nav-tabs{
	.nav-link{
		border-bottom-width:2px;
		&:focus,
		&:hover{
			border-color:transparent transparent #464a4c;
			border-width:0 0 2px;
		}
		&[class^="bg-"],
		&[class*=" bg-"]{
			color:#fff;
			&.active{
				color:#fff;
			}
		}
	}
	.nav-link.active,
	.nav-item.show .nav-link{
		background:transparent;
		border-color:transparent transparent #464a4c;
		border-width:0 0 2px;
	}
}
.print_pre{
	background:$gray-200;
	border-bottom:2px solid #ccc;
	color:$gray-800;
	padding:10px;
	margin-bottom:10px;
	> p{
		font-style:italic;
		font-weight:bold;
		margin:0;
	}
	> pre{
		border-top:1px solid #ccc;
		box-shadow:0 10px 10px -10px #ccc inset;
		max-height:500px;
		overflow:auto;
	}
}
.wrap *{
	box-sizing:border-box;
}