@import 'reset';
@import 'vars';

#tinymce.mce-content-body {
  font-size: $font-size;
  color: $body-colour;
  line-height: 1.6;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  background: $body-bg;
  padding: 25px 25px 0!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $heading-colour;
}
