<?php header('Strict-Transport-Security: max-age=31536000'); ?>
<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="<?php bloginfo('charset'); ?>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">

    <title>{{ wp_title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700" rel="stylesheet">
    <link rel="icon" href="<?php bloginfo('template_url'); ?>/favicon.png" type="image/png">

    {{ function('wp_head') }}
  </head>
  
