{% extends 'base.twig' %}

{% block content %}

  <section class="page single-post">
    <div class="container">
      <h1>{{ post.title }}</h1>
      <div class="posted">{{ post.post_date|date('j F Y') }}</div>
    </div>
    <div class="container">
      <article>
        {{ post.content }}
      </article>
      
      <div class="buttons-container">
        <a class="btn btn-back" href="{{ posts.link }}"><span></span>Back to news</a>
        <div class="addtoany"><?= do_shortcode('[addtoany]'); ?></div>
      </div>
    </div>
  </section>

{% endblock %}
