@import '../vars';

.full-screen-splash {
  display: flex;
  align-items: center;
  min-height: calc(100vh - #{$header-height});
  background: linear-gradient(135deg, darken($primary-colour, 10%), lighten($primary-colour, 10%));
  .heading {
    color: #fff;
    font-size: 5em;
  }
  .subtitle {
    font-size: 1.2em;
    margin-bottom: 100px;
    color: $body-colour;
    font-family: $font-family-base;
  }
  @media screen and (max-width: $nav-breakpoint) {
    min-height: calc(100vh - #{$header-mobile-height});
  }
}
