@import '../vars';

.btn {
  display: inline-flex;
  align-items: center;
  padding: $button-vertical-padding $button-horizontal-padding;
  color: #fff;
  font-size: 1.1em;
  font-weight: $font-weight-bold;
  text-decoration: none;
  background: $primary-colour;
  line-height: 1.2;
  cursor: pointer;
  font-family: $font-family-base;
  border: 0;
  &:focus {
    outline: 0;
    text-decoration: underline;
  }
  &:not(:last-child) {
    margin-right: 20px;
  }
  &:hover {
    color: #fff;
    background: $alt-colour;
    text-decoration: none;
  }
  &.btn-next {
    &::after {
      content: '';
      margin-left: 7px;
      height: 15px;
      width: 15px;
      background: url('images/icons/arrow-down-white.svg') center/contain no-repeat;
      transform: rotate(-90deg);
    }
  }
  &.btn-prev {
    &::before {
      content: '';
      margin-right: 7px;
      height: 15px;
      width: 15px;
      background: url('images/icons/arrow-down-white.svg') center/contain no-repeat;
      transform: rotate(90deg);
    }
  }
  &.btn-next,
  &.btn-prev {
    &.btn-border,
    &.btn-clear {
      &::before,
      &::after {
        background-image: url('images/icons/arrow-down-primary.svg');
      }
      &.btn-alt {
        &::before,
        &::after {
          background-image: url('images/icons/arrow-down-secondary.svg');
        }
      }
    }
  }
  &.btn-alt {
    background: $alt-colour;
    &:hover {
      background: $primary-colour;
    }
  }
  &.btn-border {
    background: none;
    border: $button-border-width solid $primary-colour;
    color: $primary-colour;
    padding: #{$button-vertical-padding - $button-border-width} #{$button-horizontal-padding - $button-border-width};
    &.btn-alt {
      border-color: $alt-colour;
      color: $alt-colour;
      &:hover {
        background: rgba($alt-colour, .1);
      }
    }
    &:hover {
      background: rgba($primary-colour, .1);
    }
  }
  &.btn-clear {
    background: 0;
    padding: 0;
    color: $primary-colour;
    &:hover {
      background: 0;
      color: $alt-colour;
    }
    &.btn-alt {
      color: $alt-colour;
      &:hover {
        color: $primary-colour;
      }
    }
  }
}
