@import '../vars';

.btn {
  display: inline-flex;
  align-items: center;
  padding: $button-vertical-padding $button-horizontal-padding;
  color: $white;
  font-size: 1.1em;
  font-weight: $font-weight-bold;
  text-decoration: none;
  background: $primary-colour;
  line-height: 1.2;
  cursor: pointer;
  font-family: $font-family-base;
  border: 0;
  &:focus {
    outline: 0;
    text-decoration: underline;
  }
  &:not(:last-child) {
    margin-right: 20px;
  }
  &:hover {
    color: $white;
    background: lighten($primary-colour, 10%);
    text-decoration: none;
  }
  &.secondary {
    background: $alt-colour;
    &:hover {
      background: lighten($alt-colour, 10%);
    }
  }
}
